.TicTacToe {
  width: 300px;
}

.TicTacToe-item {
  display: flex;
  justify-content:center;
  align-content:center;
  border-style: solid;
  height: 100px;
}

.clear-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  margin-top: 10px;
}
